#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.head{
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dayOne{
  border: 1px solid black;
  background-color: rgb(58, 58, 58);
}

.dayTwo{
  border: 1px solid black;
  background: #1e130c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.dayThree{
  background-color: #feac5e;
}
.change-name{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dd61eb98;
}
.primary-button{
   padding: 1rem 2rem;
   border: none;
   border-radius: 5px;
   font-size: 1.2rem;
   font-weight: 600;
   background-color: #feac5e;
}
.employee-details{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
.details{
  font-size: 1.1rem;
  color: darkorange;
}

.fruit-table{
  width: 100%;
  border: 1px solid black;
}
.fruit-table thead{
  background-color: rgb(6, 105, 72);
 
}
.fruit-table thead tr th{
  padding: .8rem;
}

.fruit-table tbody tr td{
  padding: .5rem;
  font-size: 1.1rem;
}
.fruit-table tbody tr:nth-child(even){
   background-color: rgb(46, 46, 42);
}

.error-h1{
  color: red;
}

.color-container{
  border: 2px dotted rgb(255, 251, 0);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-group{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn-group button{
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.counter{
  border: 1px dashed yellow;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.add,.min{
  padding: 1.5rem 2rem; 
  font-size: 1.5em;
  font-weight: 700;
  border: none;
  border-radius: 50%;
}
.counter-output{
  font-size: 2rem;
}

.add{
  background-color: green;
}
.min{
  background-color: red;
}

/* login form  */
.form-container{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.form{
  border: 1px solid rgb(3, 3, 0);
 min-height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  border-radius: 10px;

}
.form input{
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
}
.submit{
  font-size: 1.1rem;
  font-weight: 600;
  background-color: green;
}
.error-container{
  font-size: .8rem;
  color: red;
}
.my-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}
.my-form input{
  padding: 1rem 2rem;
}
.my-form button{
  padding: .8rem 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background-color: rgb(4, 4, 39);
}